@model EhrWeb.ViewModels.PatientListViewModel

@{
    ViewBag.Title = "Patient List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm())
{
    <div class="form-horizontal">
        <div class="col-md-12">
            <h2>EHR Patient List</h2>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                @Html.ActionLink("Create New", "Patient", "Patient", new { usertype = 1 }, new
        {
            @class = "btn btn-primary pull-right"
        })
            </div>
        </div>
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <th>
                        PIN
                    </th>
                    <th>
                        PatientName
                    </th>
                    @*<th>
                        Birthday
                    </th>*@
                    <th>
                        NIC
                    </th>
                    <th>
                        Gender
                    </th>
                    @*<th>
                        JoinedDate
                    </th>
                    <th>
                        UpdatedDate
                    </th>*@
                    <th></th>
                </tr>

                @foreach (var item in Model.PatientCollection)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.PIN)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PatientName)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.Birthday)
                        </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.NIC)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Gender)
                        </td>
                        @*<td>
                            @Html.DisplayFor(modelItem => item.JoinedDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.UpdatedDate)
                        </td>*@
                        <td>
                            @Html.ActionLink("Edit", "Edit", "Patient", new { id = item.PatientId }, new { @class = "btn btn-primary", style = "padding: 0px 12px; !important" }) |
                            @*@Html.ActionLink("Details", "Details", "Patient", new { id = item.PatientId }, new { @class = "btn btn-info", style = "padding: 0px 12px; !important" }) |*@
                            @Html.ActionLink("Delete", "Delete", "Patient", new { id = item.PatientId }, new { @class = "btn btn-warning", style = "padding: 0px 12px; !important" })
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
}
